# EditorConfig: https://editorconfig.org/
root = true

[*.{c,h,sh}]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{GNUmakefile,Makefile,ci.makefile,Makefile.dev,Makefile.doc,Makefile.env,Makefile.loc,Makefile.mk,Makefile.pre,Makefile.scc,Makefile.var}]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{txt,ini,md,.editorconfig}]
indent_style = space
trim_trailing_whitespace = true

[{COMMIT_EDITMSG,MERGE_MSG}]
indent_style = space
max_line_length = 132
trim_trailing_whitespace = true

