# Objects
*.o
*.lo
*.a
*.so
a.out

# Cruft
.DS_Store
.cproject
.project
.settings/
tags
.tags
ctags
.ctags
etags
.etags
.TAGS
TAGS
*.core
core

# Retired
zeromq-4.1.0
czmq-master-ff0d028b16
zyre-master-9d7e62d2c9

# Tests
src/dps8/UnitTests/*.oct
src/dps8/UnitTests/*.pp

# Generated
.builder.txt
.buildos.txt
useddef.txt
src/prt2pdf/prt2pdf
src/prt2pdf/prt2pdf.exe
src/unifdef/unifdef
src/unifdef/unifdef.exe
src/dps8/dps8
src/dps8/dps8.exe
src/dps8/ver.h
src/dps8/errnos.h
tags
dps8m.state
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz
*.zip
*.tar
*.rar
*.arj
*.Z
*.d.*

# Vim
*.*.swp

# Emacs
*~

# Docs
*.toc
*.ps
*.log
*.aux
*.out

# Sim
src/dps8/MR12.*
src/dps8/*.tap
src/dps8/dps8.map
src/dps8/*.d
src/dps8/MR12.3/
